*~
*.la
*.lo
*.o

.cproject
.deps
.libs
.project
Makefile
Makefile.in

/ABOUT-NLS
/INSTALL
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1

/doc/version.xml

/m4

/po/POTFILES
/po/stamp-po

/library/libadcli-1.pc

/tools/ad-enroll
