*~
*.la
*.lo
*.o
*.tar.gz
*.tar.gz.sig
*.gcno
*.gcda
*.log
*.plist
*.trs

.cproject
.deps
.libs
.project
Makefile
Makefile.in

/ABOUT-NLS
/INSTALL
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test-driver
/*.tar.gz

/build/coverage
/build/coverage.info
/build/m4/*.m4

/doc/adcli.8
/doc/html/
/doc/version.xml
/doc/samba_data_tool_path.xml

/po/POTFILES
/po/stamp-po

/library/adcli-1.pc
/library/test-attrs
/library/test-ldap
/library/test-seq
/library/test-util

/tools/ad-enroll
/tools/adcli
